#app {
    background-color: #E6E6E6;
    height: 100vh;
}

/* nav.js */
.nav {
    height: 60px;
}

.align-center {
    display: flex;
    align-items: center;
    height: 100%;
}

a.nav-link {
    color: black;
}

.nav-logo {
    height: 60px;
}

/* home.js */
#home {
    width: 100vw;
    height: calc(100vh - 60px);
}

#home > div{
    width: 90%;
    height: 90%;
}